html, body{
    height:100%; 
    margin: auto; 
    font-family: sans-serif; 

}
.nav-bar{
    background-color:rgba(10, 168, 241, 0.829);
    height:60px; 
    width:100%;  
    position: relative;; 
    top:0px;
    margin-top:15px;
}
.nav-bar img{
    margin-left:10px;
    margin-right:10px;
    margin-top:5px;
    width:50px;
    height:50px;
    background-color:white; 
    border-radius:30px;
}
.nav-bar-aside{
    float:left; 
}
#nav-right-aside ul li{
    list-style: none; 
    display: inline-flex; 
}
#nav-right-aside{
    float:right;
    margin-top:-15px;
}
#nav-right-aside:hover{
    cursor: pointer; 
}
#side-bar{
    visibility: hidden;
    background-color:rgb(12, 19, 32); 
    color:white; 
    margin-top:-16px;
    width:100%; 
    height:100%; 
}
#side-bar ul{
    margin-top:100px;
    float:left; 
    margin-left:-50px;
}
#side-bar ul li{
    font-size:24pt;
    list-style: none; 
    border-bottom: 1px solid white; 
    width:100px;
    height:auto; 
}
#side-bar #side-bar-return {
    margin-top:100px;
    float:right; 
    font-size:24pt;
    background-color:rgb(12,19,32); 
    color:white; 
    border: white 1px solid; 
    border-radius: 5px; 
    padding: 5px;
    width:100px;
    height: 50px;
}
#side-bar #side-bar-return div{
    text-align: center; 
}
#side-bar #side-bar-return div:hover{
    color:rgb(226, 0, 0); 
    border-color: rgb(226, 0, 0); 
}
#side-bar a{
    color:white; 
    text-decoration: none; 
}
#side-bar a:hover{
    color:rgb(226, 0, 0); 
}
#side-bar a:visited:hover{
    color:rgb(226,0,0);
}
#side-bar a:visted{
    color:white; 
}
/* HEADER */
#header{
    background-image: url("images/icons/comment.png");
    width:100%; 
    height:400px;
    background-size: cover; 
    background-repeat: no-repeat;
}







#footer-ball{
    bottom:0px;
    left: 42%; 
    position: fixed;
    width:100px; 
    height:100px;
    margin: auto; 
    margin-bottom: 50px;
    border-radius: 50px;
    background-color: rgb(247, 244, 244);
    box-shadow: 0px -5px 10px rgb(204, 204, 204);
    z-index: 1;
}
footer{
    box-shadow: 0px -5px 10px rgb(204, 204, 204); 
    bottom: 0px;
    left:0px;
    width:100%; 
    height:100px;
    position: fixed;
    background-color: rgb(247, 244, 244); 
    color:black; 
    text-align: center; 
    z-index: 0;
}
footer p{
    margin-top:50px;
}